.root-container {
  height: 90vh;
  width: 100%;
}

.first-row {
  display: flex;
}

.chart-container {
  width: 44%;
  height: 450px;
  border: 2px solid grey;
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
}

.thermometer {
  width: 8%;
  margin-top: 3%
}

@import url("https://fonts.googleapis.com/css?family=Jaldi&display=swap");

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Jaldi", sans-serif;
  font-size: 14px;
  color: white;
}

#wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#info {
  opacity: 0.2;
  margin: 0;
  text-align: center;
}

#termometer {
  width: 25px;
  height: 240px;
  position: relative;
  border: 9px solid #2a2a2e;
  border-radius: 20px;
  z-index: 1;
  margin-bottom: 50px;
}

#termometer:before,
#termometer:after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

#termometer:before {
  width: 100%;
  height: 34px;
  bottom: 9px;
  background: #f9f9fc;
  z-index: -1;
}

#termometer:after {
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #3dcadf;
  bottom: -41px;
  border: 9px solid #2a2a2e;
  z-index: -3;
  left: 50%;
}

#termometer #graduations {
  height: 59%;
  top: 20%;
  width: 50%;
  position: absolute;
  border-left: 3px solid #2a2a2e;
  left: 50%;
}

#termometer #graduations div {
  height: 12.5%;
  border-bottom: 2px solid #2a2a2e;
}

#termometer #mercury {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

#termometer #mercury:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2a2e;
  z-index: -2;
}

#termometer #mercury #percentage {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

#termometer #mercury #percentage span {
  height: 0;
  width: 100%;
  background: linear-gradient(#3dcadf, #38d8dd);
  transition: height 500ms ease-in-out;
  position: absolute;
  border-radius: 5px;
}

#termometer #percentage:after {
  content: attr(data-value);
  position: absolute;
  top: -30px;
}

.thermometer-value {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: black;
}
